
/*** BASIC STYLES ***/

	BODY
	{
		font-family:verdana,arial,helvetica;
		margin:0;
	}

	TABLE.clsContainer
	{
		height:78%;
	}

	A:link { color:#003399; }
	A:visited { color:#660099; }
	A:hover { color:#FF3300; }

	H1
	{
		font-size:165%;
		margin:0;
	}

	H2
	{
		font-size:125%;
		margin-top:1em; margin-bottom:0px;
	}

	H3
	{
		font-size:115%;
		margin-bottom:0px;
	}

	H4, H5, H6
	{
		font-size:100%;
		margin-bottom:0px;
	}


	DIV.clsDocBody
	{
		margin-left:10px;
		margin-right:10px;
	}

	TD, TH { font-size:68%; }

	P
	{
		line-height:1.5em;
		margin-top:0.5em; margin-bottom:1.0em;
	}

	PRE
	{
		background:#EEEEEE;
		margin-top:1em; margin-bottom:1em; margin-left:0px;
		padding:5pt;
	}

	SPAN.db PRE, SPAN.ci PRE, SPAN.di PRE
	{
		background:#EEEEEE;
		padding-top: 0pt;
		padding-bottom: 0pt;
	}

	PRE.clsCode, CODE.clsText { font-size:110%; font-family:'courier new',courier,serif; }

	PRE.clsCCCode { font-size:120%; font-family:'courier new',courier,serif;background:none }

	PRE.clsSyntax { font-size:100%; font-family:verdana,arial,helvetica,sans-serif; }

	HR
	{
		color:#CCCCCC;
		height:1px;
	}

	UL { margin-left:25px; margin-top:10px; margin-bottom:10px; }

	OL { margin-left:25px; margin-top:10px; margin-bottom:10px; }

	UL LI
	{
		line-height:1.5em;
		margin-bottom:0.5em;
	}

	UL LI LI { list-style-type: disc; }


	OL LI { margin-bottom:0.7em; }

	INPUT.clsButton { font-weight: bold; color: #ffffff; background-color: #6699cc; margin-top: 10px; margin-left: 5px; }


	/*** CUSTOM STYLES ***/

	P.small
	{
		font:normal 95%;
	}

	P.smallWhite
	{
		font:normal 95%;
		color:#FFFFFF;
	}

	P.author
	{
		font:italic 95%;
	}

	p.NoLeftMar
	{
		margin-left:-15px;
	}

	A.small
	{
		font:normal 95%;
		text-decoration:underline;
	}

	A.smallWhite
	{
		font:normal 95%;
		text-decoration:underline;
		color:#FFFFFF;
	}

	.CODE
	{
		font:normal courier;
	}

	.CODE2
	{
		background-color:#CCCCCC;
		font:normal courier;
	}

	.DATE
	{
		color:#999999;
	}

	.VRULE
	{
		border-left:#CCCCCC 1px solid;
	}

	TITLE.open
	{
		font:95%;
		color:#FFFFFF;
	}

	TITLE.closed
	{
		font:95%;
		color:#000000;
	}

	TABLE.DATA
	{
		border-collapse:collapse;
		border-left:solid 1 #CCCCCC; border-top:solid 1 #CCCCCC;
		padding:5px;
	}

	TH.DATA
	{
		border-right:solid 1 #CCCCCC; border-bottom:solid 1 #CCCCCC;
		background-color:#EEEEEE;
	}

	TD.DATA
	{
		font:normal;
		border-right:solid 1 #CCCCCC; border-bottom:solid 1 #CCCCCC;
		background-color:#FFFFFFF;
	}

	table.clsCCDCInfo
	{
		background-color:#EEEEEE;
	}

	.LOCATION
	{
		font:normal 24px;
		color:#CCCCCC;
	}

	/*** HACK ***/

	.footer
	{
		font: bold xx-small Verdana;
	}

	.footer:link { color:#FFFFFF; text-decoration:none;}
	.footer:hover { color:#FF3300; }

	/*
	table#idFooter
	{
		position:expression( (document.body.scrollHeight < document.body.offsetHeight) ? "absolute" : "relative" );
		top:expression( (document.body.scrollHeight < document.body.offsetHeight) ? (document.body.offsetHeight - idFooter.offsetHeight - 0) : 0 );
	}
	*/
	
	/* Biztalk & Commerce Server styles */
	div.artstyle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000000; font-style: normal; line-height: normal; font-weight: normal}
	
	/*  Inetsdk styles */
	 TABLE.clsStd TH {
	
		text-align:left; vertical-align:top;

		background-color:#DDD;

		padding:2px;

	}
	TABLE.clsStd TD {

		vertical-align:top;

		background-color:#EEE;

		padding:2px;

	}
	P.clsRef {

		font-weight:bold;

		margin-top:12pt; margin-bottom:0em;

	}

